*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
/*Стили для демонстрации*/

body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

/*Основные стили*/

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.parallax {
  position: relative;
  height: 100%;
}
.parallax__montain {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.parallax__montain_1 {
  background: url("../img/m_1.png") 0 0 / cover no-repeat;
}
.parallax__montain_2 {
  background: url("../img/m_2.png") bottom right/ 45% no-repeat;
  z-index: 1;
}
.parallax__montain_3 {
  background: url("../img/m_3.png") bottom left/ 100% no-repeat;
  z-index: 1;
}

.parallax__fog {
  background: url("../img/fog_1.png") bottom / 100% no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.content {
  position: relative;
}
.content__body {
  max-width: 1170px;
  margin: 0px auto;
}
.content_header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 0px 20px;
}
.content_title {
  font-size: 200px;
}
.content_subtitle {
  font-size: 120px;
}
.content__article {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
  font-size: 18px;
  line-height: 24px;
}
.content__article p {
  margin-bottom: 20px;
}
